* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-columns: 60vw 40vw;
    grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}

.text {
    grid-area: left;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

h2 {
    color: #3E79D2;
}

.right {
    grid-area: right;
    background-color: white;
}

