* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 60vw 40vw;
    grid-template-areas: 
    "left right";
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.image {
    width: 80%;
    height: auto;
}