
.container-fluid {
    padding-left: 4rem;
    padding-right: 4rem;
}

.text-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    column-gap: 3rem;
    margin-top: 2rem;
}

.text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 300;

}

h1.au-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 65px;
    letter-spacing: 2px;
    color: #3E79D2;
}

.image-au {
    height: 450px;
    width: auto;
}

@media screen and (max-width: 970px) {
    .text-wrapper .students {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .text h1.au-heading {
        font-size: 45px;
    }
    .text {
        font-size: 15px;
    }
    .container-fluid {
        padding-left: 2rem;
        padding-right: 0rem;
    }
}

.students {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* carousel */
.swiper {
    width: 60%;
    height: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute;
}

#image {
    width: 100%;
}

.gallery {
    display: flex;
    align-items: center;
    justify-self: center;   
}

