.footer {
    display: grid;
    grid-template-columns: 25vw 75vw;
    position: absolute;
    left: 0;
    right: 0;
    grid-template-rows: auto;
    grid-template-areas: "left right";
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: left;
    background-color: #701DA4;
    color: white;
    padding: 4%;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: right;
    background-color: #07439C;
    color: white;
    padding: 2%;
}

.image {
    border-radius: 8px;
}