/* footer css */
.footer {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 100%;
    position: absolute;
    grid-template-rows: 100%;
    grid-template-areas: "left right";
}

#contact {
  font-weight: 400;
}

@media screen and (max-width: 730px) {
  .image {
    height: 130px;
  }
}

@media screen and (max-width: 655px) {
  .image {
    height: 110px;
  }
}

@media screen and (max-width: 610px) {
  #contact {
    font-size: 20px;
  }
  #details {
    font-size: 15px;
  }
  .right {
    font-size: 15px;
  }
}

@media screen and (max-width: 590px) {
  #contact {
    font-size: 18px;
  }
  #details {
    font-size: 12px;
  }
  .right {
    font-size: 12px;
  }
}

@media screen and (max-width: 542px) {
  #contact {
    font-size: 16px;
  }
  #details {
    font-size: 10px;
  }
  .right {
    font-size: 10px;
  }
  .image {
    height: 90px;
  }
}

@media screen and (max-width: 398px) {
  #contact {
    font-size: 13px;
  }
  #details {
    font-size: 8px;
  }
  .right {
    font-size: 8px;
  }
  .image {
    height: 70px;
  }
}

/* footer - left section */
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: left;
    background-color: #701DA4;
    color: white;
    padding: 4%;
}
/* footer - right section */
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    grid-area: right;
    background-color: #07439C;
    color: white;
    padding: 2%;
}
/* header css */
.image {
    border-radius: 8px;
}

.image:hover {
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */
}

.header {
    display: flex;
    height: 100px;
    background-color: #701DA4;
}

.header-container {
    background-color: #701da4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100px;
    width: 100%;
    align-items: center;
    grid-template-areas: "left right";
    border-bottom-style: solid;
    border-bottom-width: 6px;
    border-bottom-color: #3f84ec;
  }
/* container of the left and right part of the header */
  .box {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
  }
/* logo and the text */
  #left {
    justify-content: flex-start;
    gap: 3rem;
  }
/* searchbar and sidebar button */
  #right {
    justify-content: end;
    gap: 5rem;
  }
/* logo of s6c */
  .icon {
    border-radius: 70px;
    height: 80px;
    margin-left: 3rem;
  }
/* both the name and motto */
  h3 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
  }
/* making the font-size of motto smaller */
  h3.motto {
    font-size: large;
    font-weight: 400;
  }

  h3.name {
    font-weight: 400;
  }

  @media screen and (max-width: 1087px) {
    h3.motto {
      font-size: medium;
    }
    h3.name {
      font-size: 20px;
    }
    #left {
      gap: 1.5rem;
    }
  }

  @media screen and (max-width: 922px) {
    h3.name {
      font-size: larger;
    }
    h3.motto {
      font-size: 13px;
    }
    #left {
      gap: 1rem;
    }
  }

  @media screen and (max-width: 886px) {
    h3.name {
      font-size: 18px;
    }
    h3.motto {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 818px) {
    h3.name {
      font-size: large;
    }
    h3.motto {
      font-size: 12px;
    }
    #left {
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 789px) {
    h3.name {
      font-size: 15px;
    }
    h3.motto {
      font-size: 9px;
    }
    #left {
      justify-content: flex-start;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 725px) {
    h3.name {
      font-size: 13px;
    }
    h3.motto {
      font-size: 8px;
    }
    #left {
      justify-content: flex-start;
      gap: 1rem;
    }
    .icon {
      margin-left: 1.5rem;
      height: 60px;
    }
  }

  @media screen and (max-width: 604px) {
    .fabars {
      height: 30px;
    }
    .icon {
      margin-left: 1rem;
    }
    h3.name {
      font-size: 11px;
    }
  }

  @media screen and (max-width: 517px) {
    
    .fabars {
      height: 25px;
    }
  }

  @media screen and (max-width: 485px) {
    h3.name {
      display: none;
    }
    h3.motto {
      display: none;
    }
    #form {
      width: 5%;
    }
  }
  @media screen and (max-width: 330px) {
    .searchBar {
      display: none;
    }
  }

/* form of the searchbar */
  .bar {
    font-family: 'Roboto', sans-serif;    
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #ffffff;
  }
  /* the whole searchbar */
  #form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding: 0.5rem;
    border-radius: 10px;
    background: #ffffff;
    margin-left: 5rem;
  }
  /* button class of the search */
  .magnify {
    border-style: none;
    background-color: #ffffff;
    height: 20px;
  }
  /* logo of magnifying glass */
  .search-logo {
    margin-bottom: 100px;
  }

  /* sidebar */
  .sidenav {
    height: 60vh;
    width: 0;
    position: fixed;
    border-radius: 1%;
    z-index: 2;
    top: 0;
    right: auto;
    background-color: #3E79D2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #main {
    margin-right: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .sidenav a {
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
#card-link {
  display: flex;
  justify-content: flex-end;
}

#home-btn {
  margin-top: 1.5rem;
}

.sidenav .closebtn {
  padding-top: 1.65rem;
  position: absolute;
  top: 0;
  right: 0.7px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


  
