.container-fluid {
    padding-left: 5rem;
    padding-right: 3rem;
}

.top-part {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    height: 150px;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
    column-gap: 2rem;
}

@media screen and (max-width: 1099px) {
    .top-part {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 905px) {
    h1.title-heading {
        display: none;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.title-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 65px;
    letter-spacing: 2px;
    color: #3E79D2;
}

#key {
    justify-content: flex-start;
    margin-left: 5rem;
}

#head-title {
    justify-content: flex-start;
}

.keys {
    display: grid;
    grid-template-columns: auto auto;
    width: 150px;
    margin-top: 1rem;
}

.sub-keys {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

#sqr {
    margin-top: 7px;
}

.col {
    gap: 2rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-content: center;
}

.course-card {
    display: grid;
    height: 300px;
    width: 460px;
    max-width: 100%;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 3px 6px 6px 1px #888383;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 638px) and (max-width: 887px) {
    .course-card {
        height: 410px;
        width: 550px;
    }
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
    #desc{
        margin-left: 0.5rem;
    }
    h1.card-title {
        font-size: 40px;
        margin-bottom: 0.5rem;
    }
    h2.card-sub {
        font-size: 30px;
        margin-bottom: 1rem;
    }
    
    .desc-wrap .description {
        font-size: 20px;
    }
}

@media screen and (max-width: 637px) {
    .course-card {
        height: 270px;
        width: 430px;
    }
    h1.card-title {
        font-size: 28px;
    }
    h2.card-sub {
        font-size: 18px;
    }
    
    p.description {
        font-size: 11px;
    }
    .container-fluid {
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media screen and (max-width: 400px) {
    .course-card {
        overflow: scroll;
    }
}

  
a:link {
    text-decoration: none;
}

.course-card:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.5s;
}

.course-img {
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
}

#desc{
    padding-left: 0.6rem;
    padding-bottom: 2rem;
    width: 95%;
    height: 100%;
}

#tags {
    height: 30px;
    width: 84px;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    border-radius: 7px 0 0 7px;
}

.t-wrap {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.key-science {
    background-color: #53B8E4;
    
}

.key-business {
    background-color: #BE53E4;
}

.key-creative {
    background-color: #E4AA53;
}

.card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 32px;
    margin-bottom: 0;
}

.card-sub {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 22px;
    margin-bottom: 0.7rem;
}

p.description {
    font-family: 'Ruda', sans-serif;
    color: black;
    font-size: 14.5px;
}