.container {
    display: contents;
    width: 100%;
}

.top-part {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    height: 150px;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.title-heading {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 65px;
    letter-spacing: 2px;
    color: #3E79D2;
}

#key {
    justify-content: flex-start;
    margin-left: 5rem;
}

#head-title {
    justify-content: flex-start;
}

.keys {
    display: grid;
    grid-template-columns: auto auto;
    width: 150px;
    margin-top: 1rem;
}

.sub-keys {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

#sqr {
    margin-top: 7px;
}

.course-card {
    display: grid;
    height: 270px;
    width: 430px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 3px 6px 6px 1px #888383;
}

@media screen and (max-width: 1440px) {
    
}

.course-link {
    transition: all 0.35s ease-in-out;
}

a:link {
    text-decoration: none;
}

.course-link:hover {
    text-decoration: none;
    transform: scale(1.05);
    transition: 0.5s;
}

.course-img {
    height: 270px;
    width: 160px;
    border-radius: 10px 0 0 10px;
}

#desc{
    margin-left: 0.3rem;
    padding-right: 0.6rem;
    font-size: 10px;
}

#tags {
    height: 30px;
    width: 84px;
    margin-top: 0.8rem;
    margin-left: 10.574rem;
    margin-bottom: 0.4rem;
    border-radius: 7px 0 0 7px;
}

.key-science {
    background-color: #53B8E4;
    
}

.key-business {
    background-color: #BE53E4;
}

h1.card-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 32px;
    margin-bottom: 0;
}

h2.card-sub {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 22px;
    margin-bottom: 0.7rem;
}

p.description {
    font-family: 'Ruda', sans-serif;
    color: black;
    font-size: 14.5px;
}

.across {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1500px) {
    .across {
        flex-shrink: 2;
    }
    
}

@media screen and (max-width: 800px) {
    .across {
        flex-direction: column;
        gap: 2rem;
    }
}