{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='about-us.css', _external=True) }}"/>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<title>{% block title %}{% endblock %}About Us</title>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="text-wrapper">
        <h1 class="au-heading">About Us</h1>
        <div class="text">
            <p class="au-description">
                When you join us you become part of the S6C community, and will follow an individual study programme that is tailored to your 
                interests and needs.  We are proud of our inclusivity in enabling students from all backgrounds and different needs to be 
                supported to reach their potential.  It’s not long before we get to know all our students really well enabling us to work 
                with your passions and interests to shape your future.
            </p>
            <p class="au-description">
                As a college our teaching staff are specialists in 16-19 education. We are unique in this position as the only 16-19 specialist 
                college for Level 3 and accelerated courses in Salisbury. We are lucky to be able to deliver our courses using excellent modern 
                facilities and we offer a broad range of A Level and Vocational / Technical courses.
            </p>
            <p class="au-description">
                Our staff have a tireless dedication to improving the standards of academic achievement for all students and have a passionate 
                commitment to your success through a culture of high expectation and aspiration.  Students at S6C speak highly of our teachers 
                and support staff. 
            </p>
        </div>
        <div class="students">
            <img src="../static/Screenshot 2022-06-28 at 09.42.13.png" alt="" class="image-au" width="80%" height="auto">
        </div>
        
    </div>
    <div class="gallery">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"><img src="static/gym.jpg" id="image"></div>
            <div class="swiper-slide"><img src="static/comp.jpg" id="image"></div>
            <div class="swiper-slide"><img src="static/room.jpg" id="image"></div>
            <div class="swiper-slide"><img src="static/love.jpg" id="image"></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination" style="color: grey;"></div>
    
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev" style="color: black;"></div>
            <div class="swiper-button-next" style="color: black;"></div>
            
        </div>
    </div>
    
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
    <script>
        const swiper = new Swiper('.swiper', {
    
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
    
        loop: true,
    
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      
      });
    </script>
</div>

{% endblock %}
