<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css', _external=True) }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block title %}<title>Layout</title>{% endblock %}
    {% endblock %}
    
</head>

<body>
    <div class="header">
        {% block header %}
        <div class="header-box">
            <img src="static/logo.jpg" alt="Logo" class="icon" />
            <div class="header-text">
                <h3 class="name">Salisbury 6th Form College</h3>
                <h3 class="motto">Aspiration &ensp; ∘ &ensp; Excellence &ensp; ∘ &ensp; Success</h3>
            </div>
            <div class="searchBar">
                <SearchBar />
            </div>
            <button id="main" class="fa-light fa-bars" onclick=""> </button>
        </div>
        {% endblock %}
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="footer">
        {% block footer %}
        <section class="left">
            <h3>Contact Us:</h3>
            <p>Call 70608929607</p>
            <p>Email s6c@s6c.mlp.college</p>
            <p>Contact Form</p>
        </section>
        <section class="right">
            <p>66-78 Tollgate Road, Salisbury, SP1 2JJ</p>
            <img class="image" src={{ url_for('static', filename='location.png', _external=True) }} alt="" width="auto" height="120px">
        </section>
        {% endblock %}
    </div>
</body>
</html>