{% extends 'base.html' %} 

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='course.css', _external=True) }}"/>
<title>{% block title %}{% endblock %}Courses</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="top-part">
        <div class="wrapper" id="key">
            <div class="keys">
                <h3 class="sub-keys">Physical</h3>
                <img id="sqr" src="static/blue.png" height="10px">
                <h3 class="sub-keys">Creative</h3>
                <img id="sqr" src="static/purple.png" height="10px">
                <h3 class="sub-keys">Business</h3>
                <img id="sqr" src="static/yellow.png" height="10px">
                <h3 class="sub-keys">Science</h3>
                <img id="sqr" src="static/red.png" height="10px">
            </div>
        </div>
        <div class="wrapper" id="head-title">
            <div>
                <h1 class="title-heading">S6C Courses</h1>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}