{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='news.css', _external=True) }}"/>
<title>{% block title %}{% endblock %}News Page</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="news-title">
        <h1 id="head">S6C News</h1>
    </div>
    <div class="cards">
        <div class="col mb-4">
            <div class="card-item">
                <div class="grid">
                    <img src="/static/placeholder.jpg" alt="" class="news-img">
                </div>
                <div class="grid">
                    <h1 class="heading">WEEKLY UPDATE</h1>
                    <div class="sub">
                        <h3 class="item-title" id="sub">CROSS CURRICULAR</h3>
                        <h3 class="date" id="sub">1.4.22</h3>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{% endblock %}